.calctitle {
    font-size: 50px;
    color: green;
}

.calcbody {
    padding: 20px;
    display: grid;
  grid-template-columns: 200px 200px 200px;
    
}
.inputs {
  padding: 40px;
  display: grid;
grid-template-columns: 150px 150px;
grid-template-rows: 100px 100px;


}

.calc-control {
  display: inline-grid;
  grid-template-columns: 38vw 30vw;
}
