.inputbutton {

    padding: 8px;
    background-color: white;
    border: 8px solid black;
    border-radius: 40%;
    
}
.inputbutton:hover {
    background-color: gray;
    cursor: pointer;
}


.inputnumber {
    color: blue;
    font-size: 40px;
}

.equals {
    background-color: orange;
}