.App {
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  min-height: 100vh;
}
.calc {
  padding-top: 20px;
  display: inline-grid;
  grid-template-columns: auto auto;
  
}
 .display {
   padding-top: 100px;
   margin: auto;
 }








